In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests
# import the api key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head

<bound method NDFrame.head of      City_ID        City Country                 Date      Lat       Lng  \
0          0      Castro      BR  2021-09-25 06:42:32 -24.7911  -50.0119
1          1  Solnechnyy      RU  2021-09-25 06:42:32  50.7214  136.6319
2          2      Faanui      PF  2021-09-25 06:42:32 -16.4833 -151.7500
3          3     Mayumba      GA  2021-09-25 06:42:33  -3.4320   10.6554
4          4   Jamestown      US  2021-09-25 06:42:33  42.0970  -79.2353
..       ...         ...     ...                  ...      ...       ...
545      545    Sisimiut      GL  2021-09-25 06:45:08  66.9395  -53.6735
546      546     Kalemie      CD  2021-09-25 06:45:08  -5.9475   29.1947
547      547    Ngunguru      NZ  2021-09-25 06:45:08 -35.6167  174.5000
548      548      Nyurba      RU  2021-09-25 06:45:08  63.2842  118.3319
549      549      Evensk      RU  2021-09-25 06:45:10  61.9500  159.2333

     Max Temp  Humidity  Cloudiness  Wind Speed
0       53.83        94          96        5.57
1       62.91        52          42        5.08
2       77.54        68          16        5.23
3       76.95        84          68        0.38
4       58.59        95           1        1.01
..        ...       ...         ...         ...
545     28.69        79          68        6.80
546     78.53        55          15        4.41
547     56.91        84           4        4.34
548     49.89        44          13        5.12
549     42.76        88         100        6.20

[550 rows x 10 columns]>

In [3]:
# get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# #gen syntax
# # 1. assign the locations to any array of lattitude and longitude pair 
# locations = [latitude, longitude]
# # 2. assign the weights variable to some values
# tempuratures = #an array of length equal to the locations array length
# # 3. assign the figure variable to the gmaps.figure() attribute
# fig = gmaps.figure()
# # 4. assign the heatmap_layer variablr to the heat_map layer attribute and add in the location
# heatmap_layer=gmaps.heatmap_layer(locations, weights=tempurature)


# # 5. add the heatmap layer
# fig.add_layer(heatmap_layer)
# # 6. call the figure the plot the data
# fig

In [6]:
%matplotlib inline

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# heatmap of temp.
# get the lat and long
locations = city_data_df[["Lat", "Lng"]]
# get the max temp
max_temp = city_data_df["Max Temp"]
# assign the figure variable
fig = fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
# assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# add the heatmap layer
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.25)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Faanui,PF,2021-09-25 06:42:32,-16.4833,-151.7500,77.54,68,16,5.23
3,3,Mayumba,GA,2021-09-25 06:42:33,-3.4320,10.6554,76.95,84,68,0.38
5,5,Grand Gaube,MU,2021-09-25 06:42:33,-20.0064,57.6608,76.37,62,7,13.00
6,6,Bambous Virieux,MU,2021-09-25 06:42:34,-20.3428,57.7575,76.21,69,40,16.11
16,16,Shache,CN,2021-09-25 06:42:37,38.4167,77.2406,85.60,8,0,3.44
17,17,Padang,ID,2021-09-25 06:42:37,-0.9492,100.3543,87.85,78,95,3.78
19,19,Salalah,OM,2021-09-25 06:42:38,17.0151,54.0924,86.09,70,20,8.05
21,21,Kapaa,US,2021-09-25 06:42:38,22.0752,-159.3190,78.78,81,90,7.00
29,29,Kendari,ID,2021-09-25 06:42:40,-3.9450,122.4989,83.66,63,44,6.02
33,33,Hithadhoo,MV,2021-09-25 06:42:41,-0.6000,73.0833,83.41,72,100,13.00

In [16]:
preferred_cities_df.count()

City_ID       158
City          158
Country       158
Date          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
2            Faanui      PF     77.54 -16.4833 -151.7500
3           Mayumba      GA     76.95  -3.4320   10.6554
5       Grand Gaube      MU     76.37 -20.0064   57.6608
6   Bambous Virieux      MU     76.21 -20.3428   57.7575
16           Shache      CN     85.60  38.4167   77.2406
17           Padang      ID     87.85  -0.9492  100.3543
19          Salalah      OM     86.09  17.0151   54.0924
21            Kapaa      US     78.78  22.0752 -159.3190
29          Kendari      ID     83.66  -3.9450  122.4989
33        Hithadhoo      MV     83.41  -0.6000   73.0833

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
 
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Faanui,PF,77.54,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,Mayumba,GA,76.95,-3.4320,10.6554,LIKWALE LODGE
5,Grand Gaube,MU,76.37,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
6,Bambous Virieux,MU,76.21,-20.3428,57.7575,Casa Tia Villa
16,Shache,CN,85.60,38.4167,77.2406,Delong Hotel
17,Padang,ID,87.85,-0.9492,100.3543,Mercure Padang
19,Salalah,OM,86.09,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
21,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Kendari,ID,83.66,-3.9450,122.4989,Hotel Wixel
33,Hithadhoo,MV,83.41,-0.6000,73.0833,Scoop Guest House

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))